<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <main>
        <div class="">
            <h1 style="text-align: center; margin: 0; font-size: 20px;">Mã OTP của bạn</h1>
            <p style="text-align: center; margin: 0;">Không để lộ mã otp </p>
            <p style="text-align: center; margin: 0; font-style: italic;">Lưu ý: Mã otp chỉ tồn tại trong 50s</p>
        </div>
        <h1 style="text-align: center; margin-top: 0;">{{otpCode}}</h1>
    </main>
</body>
</html>